<% if flash[:success] %>
<%= render 'layouts/flash_message' %>
<% end %>
<section>
  <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers !!</h1>
</section>
<div class = "top-text">
  <p>In Bookers,<br>
     you can share and exchange your opinions , inpressions , and emotions<br>
     about various books!
  </p>
</div>
<div class = "top-link">
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
</div>
